.more { background: url("./images/plus.png") no-repeat left center; width: 17px; height: 17px; display: inline-block; float: right; }
.less { background: url("./images/minus.png") no-repeat left center; width: 17px; height: 17px; display: inline-block; float: right; }
a { position: relative; z-index: 20; text-decoration: none; color: #d58424; }
.right { text-align: right; }
.walletarea { display: none; border: 1px solid #BFBFBF; background-color: white; }
hr { margin: 20px 0; border-top: 1px dashed #008000; }
.keyarea { height: 110px; text-align: left; position: relative; padding: 25px 25px 10px; }
.keyarea .public { float: left; }
.keyarea .pubaddress { display: inline-block; height: 40px; padding: 0 0 0 10px; float: left; }
.keyarea .privwif { margin: 0;  float: right; text-align: right; padding: 0 20px 0 0; position: relative; }
.keyarea .label { font-weight: bold; }
.keyarea .output { display: block; font-family: monospace; font-size: 1.25em; }
.keyarea .qrcode_public { display: inline-block; float: left; }
.keyarea .qrcode_private { display: inline-block; position: relative; top: 28px; float: right; }
.pubkeyhex { word-wrap: break-word; }
html { height: 100%; }
body { font-family: Arial; background-image: url('images/diamonds.png'); height: 100%; }
.faqs ol { padding: 0 0 0 25px; }
.faqs li { padding: 3px 0; }
.question { padding: 10px 15px; text-align: left; cursor: pointer; }
.question:hover, .expandable:hover { color: #77777A; }
.answer { padding: 0 15px 10px 25px; text-align: left; display: none; font-size: 80%; }
.faq { border: 0; border-top: 1px solid #BFBFBF; }

#initBanner { position: relative; text-align: left; padding: 15px; background-color: white; border-bottom: 1px solid #bfbfbf; }
#walletCommands { display: none; }
#keyarea { display: none; }

#faqZone { text-align: left; padding: 10px 30px 30px 30px; }
.faqQuestion { margin-left: 15px; }
.faqAnswer { margin-left: 30px; display: none; }
.faqListBullet { padding: 0 5px 0px 15px; }
.faqLink { cursor: pointer; }

#btcaddress, #btcprivwif, #detailaddress, #detailaddresscomp, #detailprivwif, #detailprivwifcomp { font-family: monospace; font-size: 1.25em; }
#seedpoolarea { display: none; }
#seedpooldisplay {  font-family: monospace; font-size: 1em; width: 640px; padding: 15px 5px; word-wrap: break-word; min-height: 98px; }
.seedpoint { width: 6px; height: 6px; display: block; border-radius: 3px; background-color: #80CF80; position: absolute; z-index: 10; }

#seedSkipper { font-size: 11px; text-align: center; line-height: 14px;}
#skipMessage { margin-top: 8px; }

#generate #mousemovelimit { font-size: 16px; color: #FFF; }
#rightArea { position: absolute; right: 66px; top: 62px; width: 170px; }
#progress-bar { width: 170px; background:#80CF80; position: relative; margin-bottom: 20px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
 }
#progress-bar-percentage { background:#FFA247; padding: 3px 0px; text-align: center; height: 18px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
 }
#progress-bar-percentage span { display: inline-block; position: absolute; width: 100%; left: 0; }
.nicerButton { font-size: 14px; }

#generate { font-size: 13px; text-align: left; position: relative; padding: 20px; border: 1px solid #BFBFBF; background-color: white; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#generate span { padding: 5px 5px 0 5px; }
#generatekeyinput { position: relative; z-index: 20; }

#generatelabelbitcoinaddress, #generatelabelmovemouse, #generatelabelkeypress { font-size: 14px; font-family: monospace; }
#mousemovelimit { font-size: 16px; font-family: monospace; }
.frontPageText { position: relative; }

h1 { margin: 0px; height: 91px; }

#keyarea { height: 250px; border-bottom: 1px solid #bfbfbf; }
#keyarea .pubaddress { float: none; display: block; padding: 0; height: auto; }
#keyarea .label { text-decoration: none; }
#keyarea .privwif { float: none; text-align: right; position: relative; padding: 0; }
#keyarea .qrcode_public { float: none; display: block; padding: 13px 11px 11px 11px; }
#keyarea .qrcode_private { float: none; display: block; top: 0; text-align: right; padding: 13px 11px 11px 11px; }
#keyarea .private { width: 30%; display: table-cell; }
#keyarea .public { width: 30%; display: table-cell; }
#singlearea { font-size: 90%; display: block; }
#singlesecret { position: relative; top: -130px; float: right; right: 200px; color: red; font-weight: bolder; font-size: 200%;  }
#singleshare { position: relative; top: -110px; float: left; left: 160px; color: green; font-weight: bolder; font-size: 200%;  }
#singlesafety { text-align: left; border-bottom: 1px solid #bfbfbf; position: relative; min-height: 500px; }

#singlesafety p { font-size: 13px; }

.firstHalfSingleSafety, .secondHalfSingleSafety {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  display: inline-block;
    vertical-align: top;
    position: relative;
}

.firstHalfSingleSafety { width: 50%; padding: 10px 30px 10px 30px; }

 .secondHalfSingleSafety {
    width: 50%;
    padding: 20px;
    text-align: center;
    float: right;
 }

.frontPageImage, .seedFrontPageImage {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.frontPageImage { width: 100%; }
.seedFrontPageImage { max-height: 340px; }

.currencyNameColumn { min-width: 120px; }

.securityChecklist {
  background-color: #FFE6C9;
  margin-top: 15px;
    padding: 20px;
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}

.supportedCurrenciesChecklist {
  background-color: #C2F2C3;
  margin-top: 10px;
  margin-bottom: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}

.supportedCurrenciesChecklist ul {
  list-style-type: none;
  padding-left: 14px;
}

#supportedcurrencies {
  line-height: 20px;
    padding: 12px 12px 0;
  text-align: justify;
}

.frontPageInstructions {
  padding: 5px;
}

.securityChecklist ul { padding: 5px 0 0 20px; }
.securityChecklist li { padding-left: 5px; margin-bottom: 10px; }

.redText { color: red; }
.greenText { color: green; }

#coinLogo { width: 55px; height: 55px; padding: 10px; position: absolute; top: 2px; left: 10px; }
#coinLogoImg { width: 100%; height: 100%; }

.coinIcoin { width: 64px; height: 64px; padding: 10px; position: absolute; top: 272px; left: 48px; }
#coinImg { width: 100%; height: 100%; }

#main { position: relative; text-align: center; margin: 0px auto; width: 1005px; }
#logo { width: 578px; height: 80px; }

.backLogo { float: right; width: 50px; height: 50px; }

#paperarea { min-height: 120px; display: none; }
#paperarea .keyarea { border: 1px solid #BFBFBF; border-top: 0; }
#paperarea .keyarea.art { display: block; height: auto; border: 0; font-family: Ubuntu, Arial; padding: 0; margin: 0; }
#paperarea .artwallet .papersvg { width: 1004px; height: 426px; border: 0; margin: 0; padding: 0; left: 0; }
#paperarea .artwallet .qrcode_public { top: 263px; left: 780px; z-index: 100; margin: 0; float: none; display: block; position: absolute; background-color: #FFFFFF;
                                    padding: 5px 5px 2px 5px; }
#paperarea .artwallet .qrcode_private { top: 37px; right: 446px; z-index: 100; margin: 0; float: none; display: block; position: absolute; background-color: #FFFFFF;
                                    padding: 5px 5px 2px 5px;
                                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                                     }
.supportWalletGenerator { margin: 30px; }
.errorMsg { color: red; text-align: center !important; width: 100% !important; padding-top: 15px !important; }
#paperarea .artwallet .btcaddress
{
  position: absolute; bottom: 88px; left: 874px; z-index: 100; font-size: 11px; background-color: transparent;
  font-weight: 100; color: #000000; margin: 0; width: 124px; height: 32px; text-align: center;
    word-wrap: break-word; font-family: Courier, monospace;
    -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg); font-family: Courier, monospace;
}
#paperarea .artwallet .btcprivwif
{
  position: absolute; top: 86px; right: 540px; z-index: 100; font-size: 11px; background-color: transparent;
  font-weight: 100; color: #000000; margin: 0; width: 124px; height: 32px; text-align: center;
    word-wrap: break-word;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
    font-family: Courier, monospace;
}
#paperarea .artwallet .btcencryptedkey
{
  position: absolute; top: 86px; right: 540px; z-index: 100; font-size: 11px; background-color: transparent;
  font-weight:100; color: #000000; margin: 0; width: 110px; height: 32px; text-align: center;
  word-wrap: break-word;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  font-family: Courier, monospace;
}
#suppliedPrivateKey { width: 420px; }
#papergenerate { margin-left: 10px; margin-right: 0px;}

.displayNone { displa: none; }
.redColor { color: red; }
.1percentwidth { width: 1%; }
.100pxwidth { width: 100px; }

.paperWalletText { bottom: 8px; height: 156px; left: 339px; padding: 15px 15px 17px 37px; position: absolute; width: 265px; font-size: 10px; color: #383838; line-height: 15px; }
.paperWalletText ul { margin: 0px; padding: 0px; }
.paperWalletText li { line-height: 13px; margin-bottom: 5px; }

.qrzone { margin: 20px 0px 20px 20px; }
#detaillabelenterprivatekey { margin-right: 15px; }

.qrcodeinputwrapper { position: relative; margin-right: 15px; }
.qrcodeinputwrapper img { position: absolute; display: block; top: 3px; right: 20px; width: 16px; height: 16px;background: url("./images/qrcode.png"); cursor: pointer; padding: 0; }

#bulkarea .body { padding: 5px 0 0 0; }
#bulkarea .format { font-style: italic; font-size: 90%; }
#bulktextarea { font-size: 90%; width: 98%; margin: 4px 0 0 0; }
#brainarea .keyarea { visibility: hidden; min-height: 110px; }
#detailarea span.qrinput { position: relative; padding: 10px; }
#detailarea span.qrinput #detailprivkey { width: 420px; height: 20px; }
#detailkeyarea { padding: 10px; }
#detailarea { margin: 0; text-align: left; }
#detailarea .notes { text-align: left; font-size: 80%; padding: 0 0 20px 0; }
#detailarea .pubqr .item .label { text-decoration: none; }
#detailarea .pubqr .item { float: left; margin: 10px 0; position: relative; }
#detailarea .pubqr .item.right { float: right; position: relative; top: 0; }
#detailarea .privqr .item .label { text-decoration: none; }
#detailarea .privqr .item { float: left; margin: 0; position: relative; }
#detailarea .privqr .item.right { float: right; position: relative; }
#detailarea .item { margin: 10px 0; position: relative; font-size: 90%; padding: 1px 0; }
#detailarea .item.clear { clear: both; padding-top: 10px; }
#detailarea .label { display: block; font-weight: bold; }
#detailarea .output { display: block; font-family: monospace; font-size: 1.25em; }
#detailarea #detailqrcodepublic { position: relative; float: left; margin: 0 10px 0 0; padding: 13px 11px 11px 11px; }
#detailarea #detailqrcodepubliccomp { position: relative; float: right; margin: 0 0 0 10px; padding: 13px 11px 11px 11px; }
#detailarea #detailqrcodeprivate { position: relative; float: left; margin: 0 10px 0 0; padding: 13px 11px 11px 11px; }
#detailarea #detailqrcodeprivatecomp { position: relative; float: right; margin: 0 0 0 10px; padding: 13px 11px 11px 11px; }
#detailpubkey { width: 590px; }
#detailbip38commands { display: none; padding-top: 5px; }
#paperqrscanner { position: absolute; display: none; width: 100%; height: 100%; top: 0; left: 0; z-index: 5000; vertical-aligh: middle; }
#paperqrscanner.show { display: block; }

.englishjson { text-align: center; padding: 40px 0 20px 0; }
.unittests { text-align: center; }
.unittests div { width: 894px; font-family: monospace; text-align: left; margin: auto; padding: 5px; border: 1px solid black; }
#testnet { display: none; background-color: Orange; color: #000000; border-radius: 5px; font-weight: bold; padding: 10px 0; margin: 0 auto 20px auto; }
#busyblock { position: fixed; display: none; background: url("./images/busy.gif") #ccc no-repeat center; opacity: 0.4; width: 100%; height: 100%; top: 0; left: 0; z-index: 5000; }
#busyblock.busy { display: block; }
.hide { display: none; }
.show { display: block; }
.dialog { z-index: 6000; position: relative; background: white; border: 2px solid #f7931a; width: 600px; margin: 150px auto; padding: 1em; }
.dialog-narrow { width: 300px; }

#currencyddl { margin: 20px; position: absolute; right: 0; top: 60px; width: 320px; font-size: 14px; }
#currencyddl select { font-size: 14px; }

.banner { font-size: 46px; text-shadow: 1px 1px 3px #000; color: #FF9547; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); text-align: left; position: relative; }

#donateqrcode { padding: 8px; position: absolute; left: 550px; margin: 25px; border: black solid 1px; background-color: white; }
#donatelist { padding: 20px; }

#donatearea { text-align: left; padding: 15px 15px 120px 15px; position: relative; }
#donatearea .address { font-family: 'Courier New', Courier, monospace; }

/* IE8 */
.qrcodetable { border-width: 0px; border-style: none; border-color: #0000ff; border-collapse: collapse; }
.qrcodetddark { border-width: 0px; border-style: none; border-color: #0000ff; border-collapse: collapse; padding: 0; margin: 0; width: 2px; height: 2px; background-color: #000000; }
.qrcodetdlight { border-width: 0px; border-style: none; border-color: #0000ff; border-collapse: collapse; padding: 0; margin: 0; width: 2px; height: 2px; background-color: #ffffff; }

@media screen
{
  #tagline { margin: 0 0 15px 0; font-style: italic; text-align: left; }
  .menu { text-align: left; }
  .menu .tab { border-top-left-radius: 5px; border-top-right-radius: 5px; display: inline-block; background-color: #F5F5F5;
          border: 1px solid #BFBFBF; padding: 5px; margin: 0 2px 0 0; position: relative; top: 1px; z-index: 110; cursor: pointer; }
  .menu .tab:hover { color: #d58424; }
  .menu .tab.selected { background-color: #FFF; border-bottom: 1px solid #FFF; cursor: default; }
  .menu .tab.selected:hover { color: #000; }
  .pagebreak { height: 50px; }
  .commands { border-bottom: 1px solid #BFBFBF;  padding: 10px 2px; margin-bottom: 0; background-color: white; }
  .commands .row { padding: 0 0; text-align: left; }
  .commands .row.extra { padding-top: 6px; }
  .commands span { padding: 0 10px; }
  .commands span.print { float: right; }
  .commands span.right { float: right; }
  .expandable { padding: 10px 15px; text-align: left; cursor: pointer; }

    #menu { visibility: hidden; font-size: 90%; }
    #culturemenu { text-align: right; padding: 0 20px; font-size: 14px; margin-bottom: 35px; }
    #culturemenu span { padding: 3px; }
    #culturemenu .selected { text-decoration: none; color: #000000; }

  #braincommands .row .label { width: 200px; display: inline-block; }
  #braincommands .notes { font-size: 80%; display: block; padding: 5px 10px; }
  #brainpassphrase { width: 280px; }
  #brainpassphraseconfirm { width: 280px; }
  #brainwarning {  }
  #detailcommands { padding: 10px 0; }
  #detailcommands span { padding: 0 10px; }
  #detailprivkey { width: 300px; }
  #detailprivkeypassphrase { width: 250px; }
  .paper .commands { border: 1px solid #BFBFBF; }
  #bulkstartindex { width: 35px; }
  #bulklimit { width: 45px; }

  .footer { font-size: 90%; clear: both; width: 750px; padding: 10px 0 10px 0; margin: 50px auto auto auto; }
  .footer div span.item { margin: 10px; }
  .footer .authorbtc { float: left; width: 470px; }
  .footer .authorbtc span.item { text-align: left; display: block; padding: 0 20px; }
  .footer .authorbtc div { position: relative; z-index: 100; }
  .footer .authorpgp { position: relative; }
  .footer .authorpgp span.item { text-align: right; display: block; padding: 0 20px; }
  .footer .copyright { font-size: 80%; clear: both; padding: 5px 0; }
  .footer .copyright span { padding: 10px 2px; }
}
@media print
{
  body { -webkit-print-color-adjust: exact; width: 1000px; height: 450px;}
  #main { width: auto; }
  #singlearea { border: 0; }
  #singlesafety { border: 0; }
  #paperarea .keyarea:first-child { border-top: 1px solid #BFBFBF; }
  #paperarea .keyarea.art:first-child { border: 0; }
  .pagebreak { height: 1px; }
  .paper #logo { display: none; }
  .menu, .footer, .commands, #tagline, #faqs, #culturemenu { display: none; }
  #detailprivwif { width: 285px; word-wrap: break-word; }
  #detailprivwifcomp { width: 310px; word-wrap: break-word; text-align: right; }
  #detailarea .privqr .item.right { width: 310px; }
  #detailarea .privqr .item { width: 285px; }
  #detailarea .notes { display: none; }
  #seedpoolarea { display: none; }
  .faq { display: none; }
  .banner { display: none; }
  #currency { display: none; }
  #paperarea .artwallet .btcaddress, #paperarea .artwallet .btcprivwif { z-index: 999; }
  .paperWalletText { z-index: 999;}
    .dogeTag { display: none; }
}
